[data-theme='light'] {
    --primary-color: #a0853f;
    --root-bg-color: #f6f5f5;
    --nav-bg-color: #ffffff;
    --nav-box-shadow: 0 0 20px -5px rgb(218, 218, 218);
    --nav-active-bg-color: rgb(249, 248, 248);
    --nav-active-box-shadow: 0 0 1px 1px var(--primary-color);
}

[data-theme='dark'] {
    --root-bg-color: #f6f5f5;
    --nav-bg-color: #fff;
}

$primary-color: var(--primary-color);
$root-bg-color: var(--root-bg-color);
$nav-bg-color: var(--nav-bg-color);
$nav-box-shadow: var(--nav-box-shadow);
$nav-active-bg-color: var(--nav-active-bg-color);
$nav-active-box-shadow: var(--nav-active-box-shadow);
